NEXT_PUBLIC_APP_NAME=TA & Per-Diem

NEXT_PUBLIC_TENMS_CLIENT_ID=tenms_xxxxxxxxxxxxxxxx
NEXT_PUBLIC_TENMS_SOURCE_PLATFORM=admin

GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GOOGLE_CLIENT_EMAIL=service-account@project.iam.gserviceaccount.com
SPREADSHEET_ID=your_spreadsheet_id
DRIVE_FOLDER_ID=your_shared_drive_id
